<div class="login-page" ng-controller="DashboardCtrl" ng-init="load()">
    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md bg-primary fixed-top navbar-transparent hidden-md-down" color-on-scroll="500">
        <div class="container">
            <div class="dropdown button-dropdown">
                <a href="" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-header">Administrador</a>
                    <a class="dropdown-item" href="#">Planes</a>
                    <a class="dropdown-item" href="#">Empleados</a>
                    <a class="dropdown-item" href="#">Pagos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Consultar Perfiles</a>
                </div>
            </div>
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="images/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item" ng-show="!$root.isLogged">
                        <a class="nav-link" href="#/signup" ui-sref="signup">Registrarse</a>
                    </li>
                    <li class="nav-item" ng-show="!$root.isLogged">
                        <a class="nav-link" href="#/login" ui-sref="login" >Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <p class="hidden-lg-up">Twitter</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="hidden-lg-up">Facebook</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                            <i class="fa fa-instagram"></i>
                            <p class="hidden-lg-up">Instagram</p>
                        </a>
                    </li>
                        <div class="pull-right navbar-text" ng-show="$root.user || $root.isLogged">
                          <div class="dropdown">
                              <a href="" class="dropdown-toggle" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <img ng-show="user.picture.data.url" ng-src="{{user.picture.data.url}}">
                                  <img ng-show="!user.picture.data.avatar" class="rounded-circle img-raised" ng-src="images/no_avatar.gif">
                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="about-us">
                                    <a class="dropdown-header">Opciones</a>
                                    <a class="dropdown-item" href="#"><span class="badge badge-default">Plan Basico</span></a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Configuración</a>
                                    <a class="dropdown-item" href="#">Creditos</a>
                                    <a class="dropdown-item" href="#">Planes</a>
                                     <a class="dropdown-item" href="#" ng-click="logout()" >Salir</a>
                                  </div>
                              </a>                    
                          </div>
                        </div>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header" filter-color="orange">
        <div class="profile-header-image"></div>
        <div class="container">
            <div class="col-md-4 content-center hidden-md-down" style="padding: 50px;!important">
                  <div class="row">
                      <div ng-show="records.length == 0 && Records">
                        <h4 >No hay registros para mostrar</h4>
                      </div>
                      <div style="flex:1;" class="loader-wrapper" ng-show="!Records">
                            <img style="width:250px;" src="images/loading.svg">
                      </div>
                  </div>
                <div class="alert alert-success" role="alert" ng-show="payment_done">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="now-ui-icons ui-2_like"></i>
                        </div>
                        <strong>Muy Bien!</strong> Has Pagado tu credito satifactoriamente.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                        </button>
                    </div>
                </div>
            <div class="main-wrap" ng-show="records.length > 0">
               <div class="typography-line">
                    <h3 class="text-left" style="margin-bottom: 5px;">Credito Actual <span style="font-size: 12px;text-align: right;float: right;">Tu plan de credito es : <span class="badge badge-primary">Basico</span></span></h3>
                    <div class="row col-lg-12 text-left">
                        <span class="badge badge-default" ng-show="current_credit.data.status == 'Pendiente'">PENDIENTE</span>
                        <span class="badge badge-success" ng-show="current_credit.data.status == 'Aceptado'">ACEPTADO</span>
                        <span class="badge badge-danger" ng-show="current_credit.data.status == 'Rechazado'">RECHAZADO</span>
                        <span class="badge badge-warning" ng-show="current_credit.data.status == 'Desactualizado'">REQUIERE ACTUALIZACION</span>
                    </div>
                    <hr />
                </div>
                <div class="row credit-item-border align-middle">
                  <div class="col-lg-6 text-left">
                        <p style="font-size:12px;margin-bottom:0px;">Fecha de Pago:</p>
                    </div>  
                    <div class="col-lg-6 text-right" style="font-size:14px;margin-bottom:0px;">
                        <p><span class="badge badge-warning">{{current_credit.data.pay_day | moment: 'format': 'MMMM DD, YYYY' }}</span></p>
                    </div>                    
                </div>
                <div class="row credit-item-border align-middle">
                    <div class="col-lg-6 text-left"> 
                        <p style="font-size:12px;margin-bottom:0px;">Tu Monto Solicitado es de:</p>
                    </div>
                    <div class="col-lg-6 text-right" style="font-size:14px;">
                        <p class="n-m" style="padding:10px;">{{current_credit.data.amount[0] | currency:"$ "}}</p>
                    </div>                    
                </div>
                <div class="row credit-item-border align-middle">
                    <div class="col-lg-6 text-left">
                        <p style="font-size:12px;margin-bottom:0px;">Intereses:</p>
                    </div>
                    <div class="col-lg-6 text-right" style="font-size:14px;">
                        <p class="n-m" style="padding:10px;">{{current_credit.data.interestsDays | currency:"$ "}}</p>
                    </div>                    
                </div>
                <div class="row credit-item-border animated bounceIn align-middle" ng-show="more_details">
                    <div class="col-lg-6 text-left">
                        <p style="font-size:12px;margin-bottom:0px;">Gestión de credito:</p>
                    </div>
                    <div class="col-lg-6 text-right" style="font-size:14px;">
                        <p class="n-m" style="padding:10px;">{{current_credit.data.system_quoteDays | currency:"$ "}}</p>
                    </div>                    
                </div>
                <div class="row credit-item-border animated bounceIn align-middle" ng-show="more_details">
                    <div class="col-lg-6 text-left">
                        <p style="font-size:12px;margin-bottom:0px;">Costo de financiación:</p>
                    </div>
                    <div class="col-lg-6 text-right" style="font-size:14px;">
                        <p class="n-m" style="padding:10px;">{{current_credit.data.finance_quote | currency:"$ "}}</p>
                    </div>                    
                </div>
                <div class="row credit-item-border align-middle">
                    <div class="col-lg-6 text-left">
                        <p style="font-size:12px;margin-bottom:0px;">IVA:</p>
                    </div>
                    <div class="col-lg-6 text-right" style="font-size:14px;">
                        <p class="n-m" style="padding:10px;">{{current_credit.data.ivaDays | currency:"$ "}}</p>
                    </div>                    
                </div> 
                <div class="row align-middle">
                    <div class="col-lg-6 text-left">
                        <p style="font-size:12px;margin-bottom:0px;"><strong>Total a Pagar:</strong></p>
                    </div>
                    <div class="col-lg-6 text-right" style="font-size:14px;">
                        <p class="n-m" style="padding:10px;"><strong>{{current_credit.data.total_payment | currency:"$ "}}</strong></p>
                    </div>                    
                </div>

                <div class="row">
                    <div class="col-lg-6 text-left">

                    </div>
                    <div class="col-lg-6 text-right">
                        <button class="btn btn-primary btn-sm" ng-click="payment()">PAGAR AHORA</button>
                        <button class="btn btn-warning btn-sm" ng-click="more_details = more_details ? false : true;">DETALLES</button>
                    </div>                    
                </div>
                <hr />                    
                </div>
            </div>
        </div>
        <footer class="footer hidden-md-down footer-opacity">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                Ayuda
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Acerca de
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Terminos
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Politicas de Privacidad
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                    </script>2017, Todos los Derechos Reservados
                    <a href="http://www.daimont.com" target="_blank">Daimont</a>. Creado por
                    <a href="https://www.zarko.com.co" target="_blank">Zarko.com.co</a>.
                </div>
            </div>
        </footer>
    </div>
</div>
