<div class="modal fade modal-mini show" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                    <form name="payment">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group text-left">
                                      <label>Donde deseas pagar?</label>
                                      <banks-field
                                          placeholder="Elije un banco"
                                          key="name"
                                          set-object="bank_obj" 
                                          label="name"
                                          ng-model="$parent.form.data.bank">
                                      </banks-field>                        
                                </div>
                            </div>
                            <div class="col-lg-6" ng-show="bank_obj">
                                <div class="form-group text-left font-12">
                                    <label>Numero de Cuenta</label>
                                    <p class="text-left monospace">{{bank_obj.account}}</p>
                                </div>
                            </div>
                            <div class="col-lg-6" ng-show="bank_obj">
                                <div class="form-group text-left font-12">
                                    <label>Titular de la Cuenta</label>
                                    <p class="text-left monospace">{{bank_obj.owner}}</p>
                                </div>
                            </div>
                            <div class="col-lg-12" ng-show="bank_obj">
                                <div class="form-group text-left font-12">
                                    <label>Cuando pagaste?</label>
                                    <date-field ng-model="$parent.form.data.payday"><date-field>
                                </div>
                            </div>
                          <div class="col-lg-12" ng-show="bank_obj">
                                <div class="form-group text-left font-12">
                                <input type="file" name="evidence" name="pic" accept="image/*" ng-model="file" required reader="$parent.form.data.transaction">                                    
                                </div>
                            </div>                   
                        </div>                        
                    </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="ok()">Listo</button>
                    </div>
                </div>
            </div>
</div>
