.dashboard{
	background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/daimond_eyes.png");
}

.button-bar{
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: white;

    & + .button-bar{
        margin-top: 7px;
    }

    &:nth-child(2){
        width: 22px!important;
    }
}
