.card-transparent{
	max-width: 100%;
    background-color: rgba(84, 82, 82, 0.26);
    background-image: none;	
}	

.label-strong-warning{
	color: #fdeb00!important;
}

.navbar.navbar-transparent {
    background-color: rgba(62, 62, 62, 0.3) !important;
    box-shadow: none;
    color: #fff;
    padding-top: 20px;
}


.login-page .card-credit-resume {
    padding-bottom: 0.7rem;
    max-width: 340px;
    background-image: none!important;;
    background-color:transparent;
}

.control-title{
    background-color: #002223;
    padding: 5px;
}

.control-values{
    background-color: #05a0a5;
    padding: 5px;
}

.header-metadata{
    width: 100%;
    height: 40px;
    background-color: #001819;
    padding: 10px;
}



