<div class="container" ng-controller="historialCtrl" ng-init="load()">
      <div class="row col-lg-12" ng-show="records.length == 0 && Records">
          <div ng-show="records.length == 0 && Records" style="text-align: center;width: 100%;">
          <div style="position: relative;margin-top: 20%;">
                <h4>No tienes prestamos.</h4>
                <a  href="#/dashboard/nuevo-credito" ui-sref="dashboard.new_credit()" class="btn btn-primary"><i class="now-ui-icons ui-1_simple-add"></i>&nbsp;Nuevo prestamo</a>   
          </div>
          </div>
          <div style="flex:1;" class="loader-wrapper" ng-show="!Records">
                <img style="width:250px;" src="images/loading.svg">
          </div>
      </div>
      <div class="wrap historial-wrapper" style="padding-top:20px;"  ng-show="records.length > 0">
      <div class="col-lg-12">
          <h3 class="text-white">Historial de Prestamos</h3>  
      </div>
        <div class="col-lg-12 row credit-item" dir-paginate="record in records | orderBy:'createdAt' | itemsPerPage: 3 " pagination-id="historial_entity" current-page="page">
          <div class="col-lg-4 text-left row">
                <div class="col-lg-12">
                  <span style="margin-top:5px;" class="badge badge-info">Prestamo # {{ ($index + 1) + (page - 1) * 3 }}</span>
                </div>
                <h5 style="margin:0px;">{{record.data.amount[0] | currency:"$ "}} COP</h5>
                <div class="col-lg-12 row">
                    <p  ng-show="record._payment.data.transaction" class="text-muted"><i class="fa fa-paperclip" aria-hidden="true"></i> <a href="{{record._payment.data.transaction}}" target="_blank">Comprobante de pago</a></p>
                </div>
          </div>
          <div class="col-lg-4">
              <div class="col-lg-12 row">
                <p style="margin:0px;">Estado del Prestamo</p>
              </div>
              <div class="col-lg-12 row">
                 <div class="col-lg-4 text-right" style="padding-top:5px;">
                  <p><span class="badge badge-default" ng-show="record.data.status == 'Pendiente'">PENDIENTE</span>
                  <span class="badge badge-success" ng-show="record.data.status == 'Aceptado'">APROBADO</span>
                  <span class="badge badge-success" ng-show="record.data.status == 'Consignado'">CONSIGNADO</span>
                  <span class="badge badge-danger" ng-show="record.data.status == 'Rechazado'">RECHAZADO</span>
                  <span class="badge badge-warning" ng-show="record.data.status == 'Desactualizado'">REQUIERE ACTUALIZACION</span></p>
                 </div>
              </div>
              <div class="col-lg-12 row">
                <p style="margin:0px;">Prestamo pagado</p>
              </div>
              <div class="col-lg-12 row">
                 <p>{{record._payment ? 'SI' : 'NO'}}</p>
              </div>
          </div>
          <div class="col-lg-4 text-right" style="padding-top:5px;">
            <div class="col-lg-12 row">
                <p style="margin:0px;">Fecha limite de pago</p>
              </div>
              <div class="col-lg-12 row">
                 <div class="col-lg-4 text-right" style="padding-top:5px;">
                    <p><span class="badge badge-warning">{{ record.createdAt | moment: 'format': 'MMMM DD, YYYY' }}</span></p>
                 </div>
              </div>
              <div class="col-lg-12 row">
                <p style="margin:0px;">Pagaste en </p>
              </div>
              <div class="col-lg-12 row">
                 <p>{{record._payment.data.bank || 'Este credito no ha sido pagado'}}</p>
              </div>
          </div>
        </div> 
        <dvi class="col-lg-12 text-center">
          <dir-pagination-controls pagination-id="historial_entity"></dir-pagination-controls>
        </dvi>       
      </div>
</div>
