<div class="login-page" ng-controller="HomeCtrl">
<daimont-header></daimont-header>
</div>
<div class="wrap" style="width:100%;height:100%;background: #001a1b url('images/particles_bg-white.png');">
    <div class="container" style="height:100vh;">
       
    </div>    
</div>
<footer class="footer hidden-md-down footer-opacity">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                Ayuda
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Acerca de
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Terminos
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Politicas de Privacidad
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    ©
                    <script>
                    </script>2017, Todos los Derechos Reservados
                    <a href="http://www.daimont.com" target="_blank">Daimont</a>. Creado por
                    <a href="https://www.zarko.com.co" target="_blank">Zarko.com.co</a>.
                </div>
            </div>
        </footer>

