 <footer class="footer hidden-md-down footer-opacity">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a ui-sref="faq()" href="#/preguntas-frecuentes">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a ui-sref="about()" href="#/acercade">
                               Acerca de
                            </a>
                        </li>
                        <li>
                            <a href="#" ui-sref="">
                                Terminos
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-primary" rel="tooltip" title="" data-placement="bottom" target="_blank" href="https://www.facebook.com/Daimontcolombia/" data-original-title="Tweet">
                                <i class="fa fa-facebook" style="font-size:12px;"></i>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-primary" rel="tooltip" title="" data-placement="bottom" target="_blank" href="https://www.instagram.com/daimont_colombia/" data-original-title="Tweet">
                                <i class="fa fa-instagram" style="font-size:12px;"></i>
                            </a>
                        </li>
                               </ul>
                </nav>
                <div class="copyright" style="margin-top:10px;">
                    &copy;
                    <script>
                    </script>2017, Todos los Derechos Reservados
                    <a href="http://www.daimont.com" target="_blank">Daimont</a>. Creado por
                    <a href="https://www.zarko.com.co" target="_blank">Zarko.com.co</a>.
                </div>
            </div>
</footer>