<div class="dashboard" ng-controller="CreditsCtrl" ng-init="load()">
<daimont-header></daimont-header>
<div class="container">
  <div class="row">
      <ol class="breadcrumb" style="width:100%;margin-top:10px;">
        <li class="breadcrumb-item"><a href="#/home" ui-sref="home()">Principal</a></li>
        <li class="breadcrumb-item active">Creditos</li>
      </ol>
  </div>
</div>
<div class="container" style="background-color: #ffffff;padding: 20px;">
  <div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title" style="margin-bottom: 10px;!important;"><i class="fa fa-credit-card text-primary"></i> Mis Creditos</h3>
            <p class="text-muted">Creditos realizados recientemente.</p>
          </div>
        </div>
    </div>
    <br>
    <br>
    <div class="panel-body">
      <div class="row">
          <div class="col-lg-6 form-group">
            <div ng-show="items_tasks.length > 0">
                <button class="btn btn-primary"><i class="now-ui-icons ui-2_like" style=""></i>&nbsp;Aprobar</button>
                <button class="btn btn-warning"><i class="now-ui-icons ui-2_like" style="-webkit-transform: rotate(180deg);
      transform: rotate(180deg);"></i>&nbsp;Rechazar</button>              
            </div>
          </div>
          <div class="col-lg-6 form-group">
            <div class="pull-right">
              <div class="dropdown">
                     <button class="btn btn-default btn-icon  btn-icon-mini btn-round dropdown-toggle" id="about-us" data-toggle="dropdown" aria-haspopup="true">
                        <i class="fa fa-filter"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-header">FILTRAR POR</a>
                        <a href="" class="dropdown-item"><span class="badge badge-default">PENDIENTE</span></a>
                        <a href="" class="dropdown-item"><span class="badge badge-success" >APROBADO</span></a>
                        <a href="" class="dropdown-item"><span class="badge badge-success">CONSIGNADO</span></a>
                        <a href="" class="dropdown-item"><span class="badge badge-danger">RECHAZADO</span></a>
                        <a class="dropdown-header">Perfil</a>
                        <a href="" class="dropdown-item"><span class="badge badge-success">ACTUALIZADO</span></a>
                        <a href="" class="dropdown-item"><span class="badge badge-danger">DESACTUALIZADO</span></a>
                      </div>
                       
                    </a>                   
                  </div>
            </div>            
          </div>
      </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Cliente</th>
            <th>Estado del Credito</th>
            <th>Fecha de pago</th>
            <th>Perfil</th>
            <th>Monto</th>
            <th>Interes</th>
            <th>Iva</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-click="detail()" style="border-left: 10px solid #002223;cursor:pointer;" 
              pagination-id="credits_entity"
              dir-paginate="record in records | orderBy:'-createdAt'                
              | itemsPerPage: 5 " 
              >
            <td ng-click="$event.stopPropagation()">
                <input id="checkbox1" type="checkbox" ng-model="record.add" ng-change="add_to_task()">
            </td>
            <td>{{record._user.full_name}}</td>
            <td>
              <span class="badge badge-default" ng-show="record.data.status == 'Pendiente'">PENDIENTE</span>
              <span class="badge badge-success" ng-show="record.data.status == 'Aceptado'">APROBADO</span>
              <span class="badge badge-success" ng-show="record.data.status == 'Consignado'">CONSIGNADO</span>
              <span class="badge badge-danger" ng-show="record.data.status == 'Rechazado'">RECHAZADO</span>
              <span class="badge badge-warning" ng-show="record.data.status == 'Desactualizado'">REQUIERE ACTUALIZACION</span>
            </td>
            <td>{{record.data.pay_day | moment: 'format': 'MMMM DD, YYYY' }}</td>
            <td><span class="badge badge-success" ng-show="record._user.data.updated">Actualizado</span>
            <span class="badge badge-danger" ng-show="!record._user.data.updated">Desactualizado</span></p></td>
            <td>{{record.data.amount[0] | currency:"$ ":0}}</td>
            <td>{{record.data.interestsDays | currency:"$ ":0}}</td>
            <td>{{record.data.ivaDays | currency:"$ ":0}}</td>
            <td>{{record.data.total_payment | currency:"$ ":0}}</td>
          </tr>
        </tbody>
      </table>       
    </div>
    </div>
    <br /> 
    <br /> 
  <div class="pull-left"> 
    <dir-pagination-controls class="pull-right" pagination-id="credits_entity"></dir-pagination-controls>
  </div> 
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<footer class="row footer footer-default">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                AYUDA
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com">
                                ACERCA DE
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                TERMINOS
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                               POLITICAS DE PRIVACIDAD
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                    </script>2017, Todos los Derechos Reservados
                    <a href="http://www.daimont.com" target="_blank">Daimont</a>. Creado por
                    <a href="https://www.zarko.com.co" target="_blank">Zarko.com.co</a>.
                </div>
            </div>
        </footer>
</div>