<div class="col-lg-6 container" ng-hide="$root.switch_summary">
    <div class="simulator_wrapper">
        <h5 class="text-left">¿Cuánto dinero necesitas?</h5>
        <i ng-click="inc()" style="position: relative;left: -220px;top: 13px;border:1px solid;border-radius:20%;padding:5px;" class="now-ui-icons ui-1_simple-delete"></i>
        <slider step="50000" id="amount" ng-model="form.data.amount" initial="200000" range="[100000, 500000]"></slider>
        <i  ng-click="dec()" style="position: relative;right: -220px;top: -15px;border:1px solid;border-radius:20%;padding: 5px;" class="now-ui-icons ui-1_simple-add"></i>
        <div class="row">
            <div class="col-lg-6 text-left">{{''}}</div>
            <div style="font-size:20px;margin-top: 5px;" class="col-lg-6 text-right">{{form.data.amount[0] || 0 | currency:"COP $ "}}</div>
        </div>
        <br />
        <br />
        <h5 class="text-left">¿Cuándo puedes pagar?</h5>
        <i style="position: relative;left: -220px;top: 13px;border:1px solid;border-radius:20%;padding:5px;" class="now-ui-icons ui-1_simple-delete"></i>
        <slider step="1" ng-model="form.data.days" initial="15" range="[1, 30]"></slider>
        <i  style="position: relative;right: -220px;top: -15px;border:1px solid;border-radius:20%;padding: 5px;" class="now-ui-icons ui-1_simple-add"></i>
        <div class="row">
            <div style="font-size:20px;margin-top: 20px;" class="col-lg-6 text-left"></div>
            <div style="font-size:20px;margin-top: 5px;" ng-init="form.data.date = currentDate" class="col-lg-6 text-right">{{'en ' + form.data.days + ' dias.'}}</div>                            
        </div>
    </div>
</div>
<div class="simulator_summary col-lg-6">
    <div class="card card-credit-resume card-padding">
        <form class="form">
            <div class="header header-primary text-center">

            </div>
            <div class="content">
             <div class="row">
                <div class="col-lg-6 text-left">
                    <label style="color:#101010;" class="text-white"><i class="now-ui-icons ui-1_calendar-60" ></i>&nbsp;Fecha de Pago:</label>
                </div>
                <div class="col-lg-6 text-right">
                    <p style="color:#101010;"><span class="badge badge-warning">{{ form.data.pay_day || current_date | moment: 'format': 'MMMM DD, YYYY' }}</span></p>
                </div> 
                <div class="col-lg-6 text-left">
                    <label style="color:#101010;" class="text-white">Monto Solicitado:</label>
                </div>
                <div class="col-lg-6 text-right">
                    <p  class="label-strong-primary">{{ form.data.amount[0] | currency:"$ "}}</p>
                </div>
                <div class="col-lg-6 text-left">
                    <label style="color:#101010;" class="text-white">Interes:</label>
                </div>
                <div class="col-lg-6 text-right">
                    <p  class="label-strong-primary">{{form.data.interestsDays || form.data.interests || 0 | currency:"$ ":0}} </p>
                </div> 
                <div class="col-lg-6 text-left">
                    <label style="color:#101010;" class="text-white">Gestión de Credito:</label>
                </div>
                <div class="col-lg-6 text-right">
                    <p  class="label-strong-primary">{{form.data.system_quote || 0 | currency:"$ "}}</p>
                </div> 
                <div class="col-lg-6 text-left">
                    <label style="color:#101010;" class="text-white">Iva:</label>
                </div>
                <div class="col-lg-6 text-right">
                    <p  class="label-strong-primary">{{form.data.ivaDays || form.data.iva || 0 | currency:"$ ":0}} </p>
                </div> 
                <hr style="1px dashed #858585 !important;" />                       

                <div class="col-lg-6 text-left">
                    <label style="color:#101010;" class="text-white">Total a Pagar:</label>
                </div>
                <div class="col-lg-6 text-right">
                    <p class="label-strong-warning" style="color:green;!important">{{form.data.total_payment || 0 | currency:"$ ":0}} COP</p>
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-12">
                         <a href="" ng-click="new_credit()" class="btn btn-success btn-block">Solicitar</a>                           
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div> 
</div>
