<div class="modal fade show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h4 class="title title-up">Plan de credito</h4>
                    </div>
                    <div class="modal-body">
                        <form name="formUpgrade">
                            <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                        <label>Seleccione el plan de credito</label>
                                            <plans-field
                                                required
                                                placeholder="Seleccione un plan"
                                                key="_id" 
                                                label="plan"
                                                ng-model="formPlan.data._plan">
                                            </plans-field> 
                                        </div>
                                    </div>  
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancelar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!formPlan.data._plan" ng-click="ok()">Actualizar Plan</button>
                    </div>
                </div>
            </div>
</div>