<div class="login-page" ng-controller="HomeCtrl">
<daimont-header></daimont-header>
</div>
<div class="wrap" style="width:100%;height:100%;background: #001a1b url('images/particles_bg-white.png');">
    <div class="container" style="height:100vh;">
       <div class="row featurette" style="top:10%;position:relative;">
        <div class="col-lg-12" style="padding-top: 6%;">
          <h2 class="featurette-heading text-white animated fadeIn">Que es Daimont?<span class="text-muted" style="margin-left: 10px;">Creditos online.</span></h2>
          <p class="lead text-white animated fadeIn">Daimont S.A.S  es una plataforma online que te da la oportunidad de obtener creditos de libre inversion de manera rapida, segura, sin papeleos y 100% en linea.</p>

          <hr>
          <br>
          <br>
        </div>
      </div>
    </div>    
</div>
<footer class="footer hidden-md-down footer-opacity">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                Ayuda
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Acerca de
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Terminos
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Politicas de Privacidad
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    ©
                    <script>
                    </script>2017, Todos los Derechos Reservados
                    <a href="http://www.daimont.com" target="_blank">Daimont</a>. Creado por
                    <a href="https://www.zarko.com.co" target="_blank">Zarko.com.co</a>.
                </div>
            </div>
        </footer>

