<div class="login-page" ng-controller="HomeCtrl">
  <div class="header-metadata">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
               <a href="https://www.facebook.com/Daimontcolombia/" target="_blank" class="text-white" style="font-size:14px;margin-right:10px;"><i class="fa fa-instagram"></i></a>
              <a href="https://www.instagram.com/daimont_colombia/" target="_blank" class="text-white" style="font-size:14px;margin-right:10px;"><i class="fa fa-facebook"></i></a>
              </div>
              <div class="col-lg-6 text-right">
                  <ul style="margin-bottom:0px;">
                      <li style="display:inline;margin-right:5px;font-size:12px;" class="text-white"><i class="fa fa-whatsapp text-primary" aria-hidden="true"></i> 311 6957745</li>
                      <li style="display:inline;margin-right:5px;font-size:12px;" class="text-white"><i class="fa fa-envelope text-primary" aria-hidden="true"></i> atencionalcliente@daimont.com</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>  
<daimont-header></daimont-header>
  <ol class="breadcrumb" style="margin-bottom:0px;">
      <div class="container"> 
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">Preguntas frecuentes</li>
      </div>
  </ol> 
    <div style="background-image:url(images/crossword.png)">   
        <div class="container">
          <div class="row" style="padding-top: 10px;">
              <div class="col-lg-12">
                  <div class="row text-center">
                      <div class="col-lg-2 col-sm-6 requis">
                            <h3 style="color: #929292;margin-top: 18px;">Requisitos:</h3>
                      </div>
                      <div class="col-lg-2 col-sm-6 requis animated fadeIn">
                           <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" style="color:#929292"></i>
                            <strong class="fa fa-inverse fa-stack-1x" style="font-weight: bold;font-size: 16px;font-family: 'Raleway', sans-serif;">+18</strong>
                          </span>
                          <p>
                              Mayor de edad con cedula de ciudadania <br>
                          </p>
                      </div>
                      <div class="col-lg-2 col-sm-6 requis animated fadeIn">
                          <i class="fa fa-credit-card" style="font-size: 40px;color: #929292;"></i>

                          <p>Tener una cuenta<br>
                              bancaria a tu nombre</p>
                      </div>
                      <div class="col-lg-2 col-sm-6 requis animated fadeIn">
                          <span style="color: #929292;font-size: 30px;font-weight: bold;margin-left:-5px;letter-spacing: -2px">CO</span>
                          <p>Ser residente<br>
                           en colombia.</p>
                       </div>
                      <div class="col-lg-2 col-sm-6 requis animated fadeIn">
                          <i class="fa fa-envelope-o" style="font-size: 40px;color: #929292;"></i>
                          <p>Tener un email <br>
                          personal.</p>
                      </div>

                      <div class="col-lg-2  col-sm-6 requis animated fadeIn">
                          <i class="fa fa-mobile" style="font-size: 40px;color: #929292;"></i>

                          <p>Tener un telefono<br> movil propio.
                            </p>
                      </div>
                  </div>
                  <div class="col-lg-12">
                      <p class="text-muted text-center" style="font-size:12px;"><i class="fa fa-exclamation" aria-hidden="true"></i> Solo realizamos prestamos a cuentas destino : <strong>Bancolombia, davivienda, BBVA, Banco Bogota, Banco de Occidente, Banco AV Villas, Banco Popular</strong>.</p>
                  </div>
              </div>
            </div>  
        </div>
    </div>
</div>
<div class="wrap" style="width:100%;height:100vh;">

    <div class="container" style="height:auto;">
      <div class="accordion" style="margin-top: 20px;margin-bottom: 20px;">
                <div class="alert alert-primary" role="alert">
                        <div class="alert-icon">
                            <i class="now-ui-icons travel_info"></i>
                        </div>
                        Cualquier duda que no te quede aclarada aquí, puedes ir a nuestro chat y escribirnos, estamos disponibles en horario de oficina.
                </div>
              <br>
            <h2 class="text-primary"><i class="now-ui-icons objects_diamond"></i> Requisitos<h2>
            <h3 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Cuales son los requisitos para solicitar un crédito?</h3>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
               Tienes que ser Mayor de edad, tener cédula de ciudadanía, cuenta bancaria personal con mínimo 6 meses de antigüedad (en alguno de estos bancos: Bancolombia, Davivienda, BBVA, Banco de Bogotá, Banco de occidente, Banco av villas, Banco popular) no estar reportado en las centrales de riesgo, tener un numero de celular personal y un correo electrónico tu de uso.
              </p>
            </div>
            <h3 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Puedo solicitar un crédito siendo menor de edad o teniendo cédula extranjera?</h3>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              No, para solicitar un crédito se requiere ser mayor de edad y tener cédula de ciudadanía colombiana. 
              </p>
            </div>

             <h3 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Puedo solicitar un crédito a una cuenta diferente de Bancolombia, Davivienda, BBVA, Banco de Bogotá, Banco de occidente, Banco av villas o Banco popular?
</h3>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              No, por políticas internas solo realizamos transferencia a cuentas personales de alguno de esos siete bancos.
              </p>
            </div>

            <h3 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Puedo solicitar un crédito si no tengo numero de celular o correo electrónico?</h3>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              No, es necesario tener numero de celular y correo electrónico propio.
              </p>
            </div>
            <br>
            <h2 class="text-primary"><i class="now-ui-icons objects_diamond"></i> Pagos<h2>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Como puedo realizar el pago del crédito?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
             Puedes realizar el pago a través de una transferencia en línea o una consignación bancaria nacional, luego de realizar la transferencia en línea o consignación deberás enviar una foto del comprobante de pago o un Screenshot de la misma.
              </p>
            </div>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Tiene algún costo adicional realizar una transferencia en línea ?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              Las transferencias en línea no tienen ningún costo y no aumentaran el valor total a pagar, es el medio mas usado y el que recomendamos debido a que no tendrás que pagar costos adicionales.
              </p>
            </div>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Tiene algún costo adicional realizar una consignación bancaria nacional?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              Si, al valor a pagar le tienes que adicionar 12 mil pesos, ya que este es el valor que el banco cobra por realizar consignaciones nacionales.
              </p>
            </div>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Que día y a que horas puedo pagar el crédito?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              Puedes pagar cualquier día a cualquier hora, No olvides subir el comprobante de pago a la pagina web.
              </p>
            </div>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Qué pasa si no puedo pagar mi crédito a tiempo? </h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
             Es importante que hagas un uso adecuado de tus créditos, el atraso en el pago genera intereses de mora y reporte en las centrales de riesgo, esperamos que esto no ocurra, de igual forma si tienes atraso debes comunicarte con nosotros para informarnos de tu situación y llegar a un acuerdo para solucionar la deuda. En el caso de que no nos informes, nosotros de inmediato nos comunicaremos contigo.
              </p>
            </div>

            <br>
            <h2 class="text-primary"><i class="now-ui-icons objects_diamond"></i> Central de riesgo<h2>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Debo pagar anticipadamente por el estudio en las centrales de riesgo?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
              No, Daimont S.A.S no pide dinero por estudios de crédito anticipado, este es cobrado a la hora de realizar el pago del préstamo.
              </p>
            </div>
            <h4 style="font-size:18px!important;" class="accordion-toggle text-muted">¿Si olvido la fecha del pago me reportaran al día siguiente?</h4>
            <div class="accordion-content" style="padding:20px;background-color: rgba(27, 27, 27, 0.02);">
              <p class="text-muted">
             Es tu deber como usuario recordar la fecha del pago, en caso tal de olvidar tu obligación, nosotros nos trataremos de comunicar contigo por vía telefónica, sino te enviaremos un correo de notificación. De no realizarse el pago del crédito se te reportará en las centrales de riesgo en 20 días hábiles.

              </p>
            </div>
        </div>
    </div>    
    <daimont-footer></daimont-footer>
</div>
<script type="text/javascript">
    $(document).ready(function() {
      $('.accordion').find('.accordion-toggle').click(function() {
        $(this).next().slideToggle('600');
        $(".accordion-content").not($(this).next()).slideUp('600');
      });

      $('.accordion-toggle').on('click', function() {
        $(this).toggleClass('active').siblings().removeClass('active');
      });
    });
</script>

  

