<form name="finance">
    <h2 class="fs-title">Informacion Laboral</h2>
    <h3 class="fs-subtitle">Por favor complete los campos y presione continuar</h3>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group text-left">
                <label class="text-muted">Nivel de estudio:</label>
                <selectize required config="{create:false, maxItems:1, valueField: 'value', labelField: 'text', placeholder:'Nivel de Estudio'}" options='[{value:"Basica Primaria", text:"Basica Primaria"}, {value:"Bachiller", text:"Bachiller"}, {value:"Tecnico", text:"Tecnico"},  {value:"Tecnologo", text:"Tecnologo"}, {value:"Profesional", text:"Profesional"}, {value:"Doctorado", text:"Doctorado"}]' ng-model="$root.user.data.nivel_estudio"></selectize>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group text-left">
                 <label class="text-muted">Actualmente soy</label>
                 <selectize required config="{create:false, maxItems:1, valueField: 'value', labelField: 'text', placeholder:'Actualmente soy'}" options='[{value:"Independiente", text:"Independiente"}, {value:"Empleado", text:"Empleado"}, {value:"Estudiante", text:"Estudiante"}, {value:"Pensionado", text:"Pensionado"}, {value:"Desempleado", text:"Desempleado"}]' ng-model="$root.user.data.perfil_actual"></selectize>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group text-left">
                <label class="text-muted">Ingresos Totales mensuales:</label>
                <selectize 
                    required 
                    config="{create:true, maxItems:1, valueField: 'value', labelField: 'text', placeholder:'Ingresos totales mensuales'}" options='[
                        {value:"Menos de 500.000", text:"Menos de 500.000"},
                        {value:"De 500.000 hasta 1.000.000", text:"De 500.000 hasta 1.000.000"},
                        {value:"De 1.000.000 hasta 1.500.000", text:"De 1.000.000 hasta 1.500.000"},
                        {value:"De 1.500.000 hasta 2.000.000", text:"De 1.500.000 hasta 2.000.000"},
                        {value:"De 2.000.000 hasta 2.500.000", text:"De 2.000.000 hasta 2.500.000"},
                        {value:"De 3.000.000 hasta 3.500.000", text:"De 3.000.000 hasta 3.500.000"},
                        {value:"De 4.000.000 hasta 4.500.000", text:"De 4.000.000 hasta 4.500.000"},
                        {value:"De 5.000.000 hasta 5.500.000", text:"De 5.000.000 hasta 5.500.000"},
                        {value:"De 5.500.000 hasta 6.000.000", text:"De 5.500.000 hasta 6.000.000"}
                    ]' 
                    ng-model="$root.user.data.ingresos_totales">
                </selectize>
            </div>        
        </div>
        <div class="col-lg-6">
            <div class="form-group">
            <label class="text-muted">Egresos totales mensuales:             
            </label>
                <selectize 
                    required 
                    config="{create:false, maxItems:1, valueField: 'value', labelField: 'text', placeholder:'Engresos totales mensuales'}" options='[
                        {value:"Menos de 500.000", text:"Menos de 500.000"},
                        {value:"De 500.000 hasta 1.000.000", text:"De 500.000 hasta 1.000.000"},
                        {value:"De 1.000.000 hasta 1.500.000", text:"De 1.000.000 hasta 1.500.000"},
                        {value:"De 1.500.000 hasta 2.000.000", text:"De 1.500.000 hasta 2.000.000"},
                        {value:"De 2.000.000 hasta 2.500.000", text:"De 2.000.000 hasta 2.500.000"},
                        {value:"De 3.000.000 hasta 3.500.000", text:"De 3.000.000 hasta 3.500.000"},
                        {value:"De 4.000.000 hasta 4.500.000", text:"De 4.000.000 hasta 4.500.000"},
                        {value:"De 5.000.000 hasta 5.500.000", text:"De 5.000.000 hasta 5.500.000"},
                        {value:"De 5.500.000 hasta 6.000.000", text:"De 5.500.000 hasta 6.000.000"}
                    ]' 
                    ng-model="$root.user.data.egresos_totales">
                </selectize>        
            </div>
        </div>        
    </div>
    <input type="button" ng-click="go_back()" name="previous" class="previous action-button" value="Anterior" />
    <a ui-sref="profile.bank" href="#/profile/update/bank" name="next" class="btn btn-primary bold" value="Continuar">Continuar</a>    
</form name="finance">

