<div class="login-page" ng-controller="profileCtrl" ng-init="load()">
    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md bg-primary fixed-top navbar-transparent hidden-md-down" color-on-scroll="500">
        <div class="container">
            <div class="dropdown button-dropdown">
                <a href="" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                    <span class="button-bar"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-header">Dropdown header</a>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">One more separated link</a>
                </div>
            </div>
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="images/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item" ng-show="!$root.isLogged">
                        <a class="nav-link" href="#/signup" ui-sref="signup">Registrarse</a>
                    </li>
                    <li class="nav-item" ng-show="!$root.isLogged">
                        <a class="nav-link" href="#/login" ui-sref="login" >Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                            <i class="fa fa-twitter"></i>
                            <p class="hidden-lg-up">Twitter</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="hidden-lg-up">Facebook</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                            <i class="fa fa-instagram"></i>
                            <p class="hidden-lg-up">Instagram</p>
                        </a>
                    </li>
                        <div class="pull-right navbar-text" ng-show="$root.user || $root.isLogged">
                          <div class="dropdown">
                              <a href="" class="dropdown-toggle" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <img ng-show="user.picture.data.url" ng-src="{{user.picture.data.url}}">
                                  <img ng-show="!user.picture.data.avatar" class="rounded-circle img-raised" ng-src="images/no_avatar.gif">
                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="about-us">
                                    <a class="dropdown-header">Opciones</a>
                                    <a class="dropdown-item" href="#"><span class="badge badge-default">Plan Basico</span></a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Configuración</a>
                                    <a class="dropdown-item" href="#">Creditos</a>
                                    <a class="dropdown-item" href="#">Planes</a>
                                     <a class="dropdown-item" href="#" ng-click="logout()" >Salir</a>
                                  </div>
                              </a>                    
                          </div>
                        </div>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header" filter-color="orange">
        <div class="profile-header-image"></div>
        <div class="container">
            <div class="col-md-4 content-center hidden-md-down" style="top:45%;!important">
                <!-- multistep form -->
                <form name="user_form" id="msform">
                  <!-- progressbar -->
                  <ul id="progressbar">
                    <li ng-class="{active : state.current.name === 'profile.basic'}">Información Basica</li>
                    <li ng-class="{active : state.current.name === 'profile.location'}">Información Residencial</li>
                    <li ng-class="{active : state.current.name === 'profile.finance'}">Información laboral</li>
                    <li ng-class="{active : state.current.name === 'profile.bank'}">Información Bancaria</li>
                  </ul>
                  <!-- fieldsets -->
                  <fieldset>
                    <div ui-view>

                    </div>
                  </fieldset>
                </form>
            </div>
        </div>
        <footer class="footer hidden-md-down footer-opacity">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                Ayuda
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Acerca de
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Terminos
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Politicas de Privacidad
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                    </script>2017, Todos los Derechos Reservados
                    <a href="http://www.daimont.com" target="_blank">Daimont</a>. Creado por
                    <a href="https://www.zarko.com.co" target="_blank">Zarko.com.co</a>.
                </div>
            </div>
        </footer>
    </div>
</div>
